.right-menu {
  position: absolute;
  right: 0;
  height: 100vh;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ccc;
  max-width: 250px;
}

.list {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  max-height: 36%;
  overflow-y: scroll;
}
