.container {
  border-top: 2px solid #000;
  padding: 10px 5px;
}

.controls {
  text-align: center;
  margin: 20px auto;
}

.range {
  width: 80%;
}

.colors-container {
  width: 100%;
  padding: 5px 0;
  display: flex;
  border: 1px solid gray;
}

.add-btn {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("../asssets/plus-circle.svg");
  background-position: center;
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: aquamarine;
}
